tensorflow==1.7.1
Pillow>=4.2.1
numpy>=1.11.0
docopt
protobuf==3.5.2
grpcio==1.11.0
torch==0.4.0
ipykernel
gym[box2d]==0.10.0
unityagents @ git+https://github.com/udacity/deep-reinforcement-learning.git#egg=unityagents&subdirectory=python